lib/debug
Profiles/**/Logs
Profiles/**/Loots
Profiles/**/Temp
Profiles/**/building.ini
Profiles/**/stats_chkelixir.INI
Profiles/**/stats_chkelixir75percent.INI
Profiles/**/stats_chktownhall.INI
LastVersion*
